<div id="<%= dom_id date_difference %>">
  <p>
    <strong>Date1:</strong>
    <%= date_difference.date1 %>
  </p>

  <p>
    <strong>Date2:</strong>
    <%= date_difference.date2 %>
  </p>

  <p>
    <strong>Diff:</strong>
    <%= date_difference.diff %>
  </p>

</div>
